.contenedor-especie{
    border-width: 1;
    border-color: blue;
}
.contenedor-cards {
    padding-top: 5%;
    padding-bottom: 3%;
}
.contenedor-paginacion {
    padding-top: 3%;
    padding-right: 13%;
    padding-left: 2%;
    padding-bottom: 3%;
    display: flex;
    justify-content: flex-end;
}